{% extends "site/pages/layout/layout.twig" %}

{% block content %}
    <h1>Пополнение баланса</h1>
    <div class="static">
        <div class="infobox">
            <h3 class="color-red">Ошибка</h3>
            К сожалению, произошла ошибка во время обработки платежа.<br>Пожалуйста, <a href="#" onclick="Functions.PopupOpen('#deposit');return false;">попробуйте еще раз</a>.
        </div>
    </div>
    </div>
{% endblock %}