{% extends "site/pages/layout/layout.twig" %}

{% block content %}
    <h1>Пополнение баланса</h1>
    <div class="static">
        <div class="infobox" style="position: relative;padding-left: 80px;">
            <span class="flaticon-check"
                  style="position: absolute;top: 30px;left: 20px; font-size: 48px;color: #eeca44;"></span>
            <h3>Платеж успешно обработан</h3>В течении минуты ваш баланс будет обновлен
        </div>
    </div>
{% endblock %}