{% extends "site/pages/layout/layout.twig" %}
{% block content %}
<div class="gifts"><h1>Конкурс "Ютюбер"!</h1><h2 style="
    font-size: 50px;
    margin-bottom: 37px;
    color: #f2c924;
">Приз: 5000 Рублей!</h2><div class="cls"></div><div class="info-1 gift-case">
<h3>О конкурсе "Ютюбер"</h3>
<div class="cls"></div><div class="l">

<img src="/templates/site/dist/img/yt.png" alt="Конкурс: Ютюб">
<form  action="https://www.youtube.com/" method="get">
<input type="submit" class="btn" value="Принять участие"></form>
</div>
<div class="textyoutube" style="margin-left: 225px;padding-left: 9px;font-size: 24px;margin-top: 30px;">
Снимите крутое видео на YouTube,<br> набирайте просмотры <br> и зарабатывайте реальные деньги!
<br>
Победит тот, кто наберет наибольшее количество просмотров!
</div> <div class="cls"></div>
</div>
<div class="info-2 gift-case">
<h3>Требования</h3><img src="/templates/site/dist/img/daily-ooo.png" align="left"><div class="textyoutube">
1) Снять качественное видео<br>2) Показать достоинства сайта<br>3) Добавить ссылку в описание<br> 4) Отписать в <a href="/pages/support/">поддержку</a> сайта<br>5) Ждать результатов</div>
</div><div class="cls"></div><h3 style="
">После одобрения вашего видео, оно попадет в этот список.</h3><h3>Учавствующие видео:</h3><div class="daily-winner">
<div class="daily-winner-in">
<iframe width="440" height="190" src="https://www.youtube.com/embed/rlMdANyYGCI" frameborder="0" allowfullscreen></iframe>
<iframe width="440" height="190" src="https://www.youtube.com/embed/h5uTAZV5lHM" frameborder="0" allowfullscreen></iframe>
<iframe width="440" height="190" src="https://www.youtube.com/embed/fubFzLOOlQI" frameborder="0" allowfullscreen></iframe>
<iframe width="440" height="190" src="https://www.youtube.com/embed/h2MVZsNBcek" frameborder="0" allowfullscreen></iframe>
<iframe width="440" height="190" src="https://www.youtube.com/embed/dTPAsen--M4" frameborder="0" allowfullscreen></iframe>
<iframe width="440" height="190" src="https://www.youtube.com/embed/NfuVZWeQGHg" frameborder="0" allowfullscreen></iframe>
<iframe width="440" height="190" src="https://www.youtube.com/embed/84lVOX2votA" frameborder="0" allowfullscreen></iframe>
<iframe width="440" height="190" src="https://www.youtube.com/embed/j7i8NKUrNLQ" frameborder="0" allowfullscreen></iframe>
</div><div class="cls"></div>
{% endblock %}