{% extends "site/pages/layout/layout.twig" %}

{% block content %}
    <h1 class="title">Техническая поддержка</h1>
    <div class="static">
        <div class="infobox">
            <h3>Обратите внимание</h3>• Перед формированием запроса в техническую поддержку, настоятельно рекомендуем
            ознакомиться с <a href="/pages/faq">часто задаваемыми вопросами и ответами</a>.<br>• А также, вывод
            средств осуществляется от 1 до 24 часов. Пожалуйста, будьте терпеливы.<br><br></div>
        <div class="cls"></div>
        <div class="support">
            {% if user %}
                <form name="form-support">
                    <div class="loader" style="display: none;">
                        <img src="/templates/site/dist/img/loader.svg" alt="Загрузка...">
                    </div>
                    <div class="line">
                        <input type="text" class="inp" name="name" placeholder="Как вас зовут?" value="{{ user.name }}" readonly="readonly">
                    </div>
                    <div class="line">
                        <input type="text" class="inp" name="email" placeholder="Email">
                    </div>
                    <div class="line">
                        <input type="text" class="inp" name="subject" placeholder="Что случилось?">
                    </div>
                    <div class="line">
                        <textarea class="textarea" name="message" placeholder="Опишите проблему"></textarea>
                    </div>
                    <div class="line button">
                        <input type="button" class="btn rounded yellow" value="Отправить" onclick="Functions.CreateTicket();">
                    </div>
                </form>
            {% else %}
                <div class="support-notlogged">Для отправки сообщения, пожалуйста, авторизуйтесь на сайте</div>
            {% endif %}
        </div>
        <div class="seperator"></div>
    </div>
{% endblock %}