{% extends "site/pages/layout/layout.twig" %}

{% block content %}
    <h1 class="error-page-h1">404</h1>
    <div class="static">
        <div style="text-align: center;"><span style="font-size: 18pt;">К сожалению,&nbsp;страница не найдена</span></div>
        <div style="text-align: center;">Возможно она удалена или не существует.</div>
        <div class="cls"></div>
    </div>
{% endblock %}